
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Space+Grotesk:wght@500&display=swap');

body{
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    width: 100%;
    z-index: 9999;
    position: fixed;
    background: White;
    margin-top: 0;
}

/* request invite button */
.last button{
    background: linear-gradient(to right,#31CF70 , #27b48c ,#2CBAC4 );
    width: 130px;
    height: 40px;
    border-radius: 20px;
    color: white ;
    border: 0;
}

.last button:hover{
    background: linear-gradient(to right,#3fee85 , #2ed1a3 ,#36d5e0 );
}


.btn{
    background: linear-gradient(to right,#31CF70 , #27b48c ,#2CBAC4 );
    width: 130px;
    height: 40px;
    border-radius: 20px;
    color: white ;
    border: 0;
}

.btn:hover{
    background: linear-gradient(to right,#3fee85 , #2ed1a3 ,#36d5e0 );
}

.btn1{
    background: linear-gradient(to right,#31CF70 , #27b48c ,#2CBAC4 );
    width: 130px;
    height: 40px;
    border-radius: 20px;
    color: white ;
    border: 0;
    margin-top: 30px;
}

.btn1:hover{
    background: linear-gradient(to right,#3fee85 , #2ed1a3 ,#36d5e0 );
}

/* navbar list */

#list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

#list li{
    list-style: none;
    color: gray;
}

#list  li:hover{
    color: black;
    text-decoration: underline hsl(136, 65%, 51%) ;
    text-underline-offset: 13px;
    text-decoration-thickness: 3px;
    
}

#list a{
    text-decoration: none;
    color: gray;
}

#list a:hover{
    color: black;
}

/* intro Next generation digital banking */

.intro{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.intro img{
    width: 50%;
}

.inword{
    width: 27%;
}

.inword h4{
    font-weight: 300;
    color:gray;
    line-height: 1.3;
    margin-top: 20px;
}

.inword h1{
    font-weight: 700;
    width: 80%;
}

/* intro image */

#phone{
    width: 35%;
    position: absolute;
    top: 5%;
    left: 50%;
}

/* into to Easybank */

.easy{
    width: 600px;
    margin-left: 5%;
}

.concept{
    background: hsla(0, 5%, 76%, 0.178);
}

/* service infomation styling */

.service{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    width: 80%;
    margin-left: 3%;
}

.easy h4{
    font-weight: 300;
    color:gray;
    line-height: 1.3;
    margin-top: 20px;
}

.easy h1{
    font-weight: 700;
}


.onboard h4{
    font-weight: 300;
    color:gray;
    line-height: 1.3;
    margin-top: 20px;
    width: 260px;
}

.onboard h2{
    font-weight: 400;
    margin-top: 5%;
}


.online h4{
    font-weight: 300;
    color:gray;
    line-height: 1.3;
    margin-top: 20px;
    width: 260px;
}

.online h2{
    font-weight: 400;
    margin-top: 5%;
}


.api h4{
    font-weight: 300;
    color:gray;
    line-height: 1.3;
    margin-top: 20px;
    width: 260px;
}

.api h2{
    font-weight: 400;
    margin-top: 5%;
}


.budget h4{
    font-weight: 300;
    color:gray;
    line-height: 1.3;
    margin-top: 20px;
    width: 260px;
}

.budget h2{
    font-weight: 400;
    margin-top: 5%;
}


/* service icon/image styling */

.api img{
    width: 50px;
}

.onboard img{
    width: 50px;
}

.online img{
    width: 50px;
}

.budget img{
    width: 50px;
}

/* article styling */

.latest{
    margin-top: 10%;
}

.latest h1{
    margin-left: 5%;
    font-weight: 700;
}


.articles{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
}

/* article image styling */

.wilson img{
    width: 320px;
    border-radius: 5px;
}

/* article information styling */

.wilson h6{
    font-weight: 300;
    color:gray;
    margin-left: 5%;
    margin-top: 5%;
}

.wilson h2{
    font-weight: 400;
    width: 280px;
    margin-top: 3%;
    margin-left: 3%;
}

.wilson h2:hover{
    color:hsl(136, 65%, 51%);
}

.wilson h4{
    font-weight: 300;
    color:gray;
    line-height: 1.3;
    margin-top: 20px;
    width: 260px;
    margin-left: 5%;
}

/* first image personal styling in  the article section  */

.cur{
    width: 300px;
    height: 200px;
    border-radius: 5px;
}


/* the footer */

.footer{
    background:  hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    margin-top: 8%;
}

/* footer icon styling */

.icon a{
    color: #ffff;
}

.icon a :hover{
    color: #27b48c;
}


/* footer infomation list styling */

.info a li{
    list-style: none;
    color: gray;
}

.info a li:hover{
    color:hsl(136, 65%, 51%);
    text-decoration: none;
}


.info1 a li{
    list-style: none;
    color: gray;
}

.info1 a li:hover{
    color:hsl(136, 65%, 51%);
    text-decoration: none;
}

/* footer copyright styling */

.last h4{
    font-weight: 300;
    color:gray;
    margin-top: 5%;
}